[2020-05-22 14:05] kristabh opened #1 "Run meta-analysis without lab-level exclusion of n >= 10, report in supplementals"
p 29: "Note that unlike for the meta-analysis..." --> This isn’t a change from the original plan, but the exclusion for the meta-analysis is. I think you should do the analysis as specified in the Stage 1 document and also do the the meta-analysis with exclusions as an follow-up, exploratory robustness analysis (with clear documentation that it was not planned that way).

[2020-05-22 14:26] kristabh opened #2 "Add Levene's Test"
p. 36: "We pre-registered a Levene’s test to examine whether monolinguals and bilinguals showed different amounts of variance in their IDS preference. However, we ultimately omitted this test because the null results of our within-group variability meta-analysis did not support  a difference between monolingual and bilingual infants in the variance of their IDS preference." -> Any harm in computin

[2020-05-22 14:29] kristabh opened #3 "Add descriptives of SES and % NAE overall and by lab to Table 1"
"Thank you for the thorough discussion of how bilingualism was assessed across the languages. However, there was much less detail about how the categorization of NAE was defined. In fact, I don’t think it was ever actually defined.  Some descriptives of SES and % NAE overall and by lab would be helpful. I have no sense of the background of the participants."

[2020-05-22 18:28] kristabh opened #4 "Improve order of labs in Table 1"
p. 23, Table 1. Please list the labs in a more informative order, e.g., group by method? Better yet, whether they have significant NAE exposure, since that is the variable of interest. In any case, alphabetical by some random lab name is not informative.

[2020-05-22 18:29] kristabh commented on #4
Ideally, group by NAE exposure.

[2020-05-22 18:32] kristabh opened #5 "Calculate mean number of trials analyzed per infant"
"Please report the mean number of trials per infant going into the analyses."

- Add to end of "Adequate trials for analysis" exclusions description.  This is in the exclusions script.

[2020-05-22 18:35] kristabh opened #6 "Reorder data in Figure 1"
p. 32, Figure 1. What does it mean that “points are scaled by inverse variance”? Ditto comment from Table 1 about ordering and labeling."

Our response:
We have now re-ordered Figure 1 according to the effect size of the monolingual-bilingual difference.  We thank the reviewer for this suggestion.

Make sure to change figure caption.

[2020-05-22 18:40] kristabh commented on #4
See also comment, asking for same info "Figure 2. I was surprised by how many data points had 0% NAE exposure.  Perhaps setting this up earlier, e.g., in Table 1 and with an additional descriptive table, would help the reader. There’s a lot to keep track of and a lot of detail, so any way that you can organize things to help the reader would be helpful."

[2020-05-22 18:47] kristabh opened #7 "Add N's and degrees of freedom to each results table"
"Related to the final number of participants, I had trouble tracking whether all the exclusion criteria used in the final paper were mentioned in the registered report. Regardless, reducing a sample of 501 to 333 is concerning. It is also very difficult to know the final sample sizes that went into all analyses. N’s and/or degrees of freedom should be presented with results (e.g., as table notes).

[2020-05-22 18:50] kristabh opened #8 "Fix details with presentation of results"
"Furthermore, there are some concerns about results presentation (beyond the R code used to justify mixed equations). Confidence intervals should be reported with commas (not dashes) separating the upper and lower limits, and p < .001 should be used (when appropriate) instead of p =< .001. "

[2020-05-22 18:51] kristabh opened #9 "Add estimated R-squared to models"
"Also, all models should have some overall model fit indices presented (e.g., comparison of AICs or estimated R-squared) instead of just the coefficients of the final models."

[2020-05-22 20:47] kristabh opened #10 "Add tables of zero-order correlations for each mixed-effects analysis to supplemental materials"
"There are also many predictors used in the mixed effects analyses (Tables 2-6). It is hard to know whether these analyses are adequately powered (what citations support the use of 20 observations per cell?), and whether predictors are colinear (as no zero-order correlations are provided)."

[2020-05-22 20:48] kristabh opened #11 "Add model comparisons for pruning to the supplemental materials"
This means that model comparisons throughout the pruning process should be presented, too (e.g., in supplemental), especially because the pruning method used here differed from the one in the registered report.

[2020-05-22 20:49] kristabh commented on #11
@angelinetsui plans to tackle this

[2020-05-23 21:15] kristabh opened #12 "Add standard math equations to describe models (perhaps in additional to R syntax in main text?)"
"I will say, however, that the manuscript is long and difficult to understand due to frequent references to the ManyBabies 1 manuscript and reliance on R code for the writing of models (with code differing across models); this paper does not stand alone. R code could certainly be used in the Appendix or Supplemental files, but reliance on it in the main text limits generalizability and will make t

[2020-05-28 23:39] angelinetsui commented on #12
@kristabh , I am trying to translate the lme4 R script to math equations. I found that even the math equation for the most simplest model (i.e., one of our pruned model) is complicated and long (i.e., we have a lot of interaction terms, main effects and different variances). And I have troubles in translating every "unpruned" model to the math equations, esp when a number of interactions are at le

[2020-05-28 23:44] angelinetsui commented on #11
@kristabh, I re-ran the model and have listed how I pruned the model sequentially in 05.confirmatory_analysis.Rmd. Do you think that we need to put it in supplemental materials, or simply refer readers to the Rmd in text?

[2020-05-28 23:48] angelinetsui commented on #10
For citation of the use of 20 observation per cell (Simmon et al., 2011, Psych Sci)

For collinearity check, I will take a look and work on it later in 06.Rmd. Unsure if we need to report zero-order correlations. What is the use of zero-order correlations between all the IVs and DV, if we can show that we don't violate the multicollinearity assumption?

[2020-05-29 00:15] angelinetsui commented on #9
Checked. I can calculate model fit indices via the package "performance". Here is my suggestion, report both conditional and marginal R-squared, but not AIC. Conditional R-squared takes both fixed and random effects into consideration, but marginal R-squared only takes into account of fixed. So reporting both will be nice.
For AIC, I don't think that it is very useful as we don't compare models he

[2020-05-29 03:34] angelinetsui commented on #2
@kristabh , Should we just do Levene's test for matched dataset for LMM model 1 or both model 1 and 3? Note that I didn't include model 2 because model 2 only examined bilingual infants

[2020-05-29 03:42] mcfrank commented on #12
I agree, honestly. I find the R formula notation to be simpler to read and
reason about, though it is true that it's less general than the formulae...
I would consider pushing back on this one.

On Thu, May 28, 2020 at 4:40 PM angelinetsui <notifications@github.com>
wrote:

[2020-05-29 03:53] angelinetsui commented on #1
@kristabh , do you think that we still need a bit of exclusion criteria here. For example, some labs only had 1 infant per language group.....

Otherwise, I think I can re-run the meta-analysis (with certain exclusion criteria, e.g., n >=5) and report it in supplementals

[2020-05-29 12:29] kristabh commented on #2
The question is whether bilinguals show higher variance in their preference than monolinguals.  So we should just use Levene's test to compare the variance of the bilinguals to the matched monolingual sample, as well as to the full monolingual sample.

[2020-05-29 12:35] kristabh commented on #11
Great! I think it would be okay to just leave in the RmD. I have added some wording to the manuscript and the response letter.  You can close this issue if you think we're good.

[2020-05-29 12:38] kristabh commented on #11
The response now says "We have now included all of the pruning comparisons in the analysis code, and refer readers to this on p. XX."  I don't think you've pushed the change yet- is this an accurate description?

[2020-05-29 12:49] kristabh commented on #12
I also prefer the R formula notation.  I think we can make an argument that this is a stylistic matter.  Angeline, maybe you could check in the last issue or two of AMMPS and do a quick tally of papers that use each type of notation.  This would be evidence that both are used in AMMPS, so it's just a stylistic disagreement with the reviewer.  We can also mention that it's better for comparability

[2020-05-29 12:51] kristabh commented on #1
I had forgotten that some labs had 1 infant per language group - hw many cases were there like this?  Perhaps we can just point this out, say that it was therefore impossible to run the analysis without some kind of lab-level inclusion criterion, and argue for why 10 was a reasonable minimum.  It seems weird to just keep running with different arbitrary criteria, although we could.

[2020-05-29 12:55] kristabh commented on #9
Yes, I agree about reporting the conditional and marginal R-squared, and not AIC.

[2020-05-29 16:43] angelinetsui commented on #2
Currently, I am doing the Levene's test using the model residual with bilingualism. Does it make sense? https://stats.stackexchange.com/questions/255546/test-homogeneity-in-lmer-models

[2020-05-29 16:45] angelinetsui commented on #1
Copied and pasted part of my script in 04.Rmd here:

For matched dataset in the meta-analytical approach:
1) each lab has at least 10 babies (n>=10) for each age group in both monolingual & bilingual groups;
2)The following bilingual labs are removed based on critieria (1):
- babylabkingswood 6-9 mo: n=9 in bilingual 6-9 mo gp
- babylabparisdescartes1 all data: no monolinguals at 6-9 mo and n=1 in

[2020-05-29 16:49] angelinetsui commented on #12
I will check the last two to three issues of AMMPS and see if anyone used math notation. Will get back to you later.

[2020-05-29 16:50] angelinetsui commented on #11
Yes, I will check with this and push my changes later. I just want to double check everything before pushing.

@kristabh , I believe that I should push the changes to MB1B public repo, not the private one, right?

[2020-05-29 17:26] kristabh commented on #11
Yes, public repo

[2020-05-29 17:28] kristabh commented on #2
Refer back to the pre-registered analysis plan and make sure to do exactly what we pre-registered.

[2020-05-29 17:39] kristabh commented on #10
Since the reviewer asks, I think it's no problem to report the zero-order correlations in the supplementals.  Besides multicollinearity, they might just be curious.

[2020-05-29 18:21] kristabh commented on #1
Okay, let's run it with a minimum of n = 5 for robustness, report that in the supplemental. I've added some wording both in the response and in the manuscript why these kind of exclusions were unavoidable (i.e., can't compute an effect size from n = 1). See if you can improve the wording.

[2020-05-29 18:58] angelinetsui commented on #2
This is what copied from the MB1B analysis plan RR:

"Homogeneity of variance . As a preliminary but theoretically interesting analysis, we
planned to use Levene’s test to examine whether monolinguals and bilinguals show different
amounts of variance in their IDS preference. We note that Levene’s test is highly sensitive to
even small deviations from homogeneity of variance. If we find a statistic

[2020-05-29 18:58] angelinetsui commented on #1
looks good, will do!

[2020-05-29 18:59] angelinetsui commented on #10
happy to do it later, but I will appreciate help from others in the analysis team to work on the zero-order correlations table while I am working on the residuals analysis and linear model assumption checks

[2020-05-29 20:51] angelinetsui commented on #12
I checked the last three issues in AMMPS. Results are somewhat mixed. Two papers used mixed level models didn't even include the lme 4 R equation and simply report how they control for random effects and fixed effects in text (which we have already done in the RR). One paper used mixed level model report the traditional math notation, but I note that this paper's model is MUCH MORE simpler than ou

[2020-05-29 23:44] angelinetsui commented on #2
I worked on all the Levene's tests. VERY surprisingly, one of the model's residual (i.e., LMM IDS full model dataset) indicates a significant difference in variability between monolinguals and bilinguals. This result was not significant for matched dataset. I wonder if:

1) in the full dataset, we have way more monolinguals than bilinguals. One possibility is that the variability is much more prec

[2020-05-30 12:13] kristabh commented on #2
What is the magnitude of the effect, and is it in the predicted direction (bilinguals more variable)?  Since you are finding significance only with the larger dataset, it could be that we are overpowered (I think this is in line with your first point).

[2020-05-31 18:20] kristabh commented on #12
Okay, I have added some argument in the response letter to keep as-is.

[2020-05-31 19:47] angelinetsui commented on #12
Thanks, looked good, let us see how other Mb1b collaborators think as well.

[2020-05-31 19:57] #12 closed, assigned to angelinetsui

[2020-06-01 23:33] angelinetsui commented on #2
@kristabh , may I ask what effect size are you referring to? The effect size of the mixed effect model is the corresponding beta coefficient. But the DV is log-transformed looking time, so are you referring to the effect size of "bilingualism" or the effect size of "bilingualism * IDS" ? I found the formula that calculates the effect size of the mixed level analysis. However, either effect size do

[2020-06-02 01:50] kristabh commented on #2
Perhaps effect size is the wrong word.  In the simple case, we could just calculate the variance for the bilingual group and the variance for the monolingual group, and compare them.  This "variance" (actually the difference in variance between the two groups) is what I was referring to the effect size.  If I understand correctly, running the Levene's on the residuals partitions out nuisance sourc

[2020-06-02 02:29] angelinetsui commented on #2
@kristabh , not a problem at all, thank you very much for clarification. I have been searching for solutions of dealing with the heterogeneity of variance and I still can't find a way to run a weighted variance mixed-level regression in lme4 package. Instead, it looks like that we may need to use nlme to do the correction, but then it means that we need to shift from lmer to nlme just for this mod

[2020-06-02 14:19] kristabh commented on #2
I would say for now, let's focus on the Levene's test and interpreting it.  If there is a variance difference, it's small and I suspect our analysis is robust enough to it.  I would not be in favour of changing the mixed models at this point.

[2020-06-02 16:06] angelinetsui commented on #2
Yes, this is really weird, I tried to spend quite a bit of time yesterday to search for articles about "what to do if we violate homogeneity of variance" but didn't find much info....I will see if I can find some studies that support that with a large sample, our mixed effect model will be robust to heterogeneity of variance

[2020-06-04 21:55] jkosie commented on #3
I'm starting to work on this!

[2020-06-05 14:55] jkosie commented on #6
I can take this one too. I searched for it in particular because I was re-reading the paper and noticed that the table says that babylabprinceton collected data from only 1 monolingual 6-9 month old infant. I don't think that's correct (I think in mb1 they had ~20 monolinguals). Shouldn't these monolingual infants be included in that table or is there something I'm missing?

[2020-06-05 15:00] kristabh commented on #6
Could their monolinguals be in an age bin that wasn't collected for MB1B?

[2020-06-05 15:05] jkosie commented on #6
I looked at the mb1 data, and the infants were 6-9 months. I'll dig into the issue, I just thought I'd check first in case there was an obvious answer I was overlooking.

[2020-06-05 16:57] jkosie commented on #4
Table 1 is now grouped by NAE exposure.

[2020-06-05 17:12] jkosie commented on #3
I've edited table 1 to included average years of maternal education by lab and % NAE exposure by lab. I included only % NAE exposure for bilinguals since thats what is used in the analyses, but I can change it. I also sorted by % NAE (see issue #4).

The only problem is that now the table is large, so I had to turn it to landscape format. I'm not sure we want to do that. Feel free to suggest chang

[2020-06-05 17:30] jkosie commented on #6
@kristabh - your comment above says: "We have now re-ordered Figure 1 according to the effect size of the monolingual-bilingual difference. We thank the reviewer for this suggestion."

I don't see an effect size of the difference. Do you mean we should calculate the difference in effect size (e.g., monolingual - bilingual) and sort by that?

[2020-06-05 17:42] jkosie commented on #5
added!

[2020-06-05 17:42] #5 closed, assigned to nobody

[2020-06-05 17:55] kristabh commented on #6
Yeah, my suggestion was to calculate monolingual-bilingual and sort by that, but I'm open to other suggestions.  We might want to add that difference to the plot, together with the raw effect sizes for each group/lab.

[2020-06-05 17:57] jkosie commented on #6
Got it!

I think it makes sense to sort by that. I can add that difference to the plot as well so that we can decide if we want to keep it.

[2020-06-05 18:00] kristabh commented on #2
Again, I would suggest we focus on the Levene's test itself, and its interpretation. Given that only one of the two tests is even significant, and we don't have evidence of variance differences from our meta-analysis, it seems premature to change all the mixed models.

[2020-06-05 18:02] angelinetsui commented on #2
yes, sorry for still not being able to find sufficient support in the literature about the robustness of the model that violates Levene's test. But I am wondering if I can seek some statisticians' advice will be good. I will keep you updated about the statisticians comment?

[2020-06-08 19:55] jkosie commented on #6
I've updated the figure so that it's sorted by the difference between the monolingual and bilingual effect.

It wasn't as straight-forward as I thought it would be, and I'm having trouble with the meta-analytic estimate facet getting squished. I'll keep trying to edit, but maybe someone else can take a look, too? (@christinabergmann - do you have ideas about how to fix it?)

I'm attaching an image

[2020-06-08 20:16] kristabh commented on #6
I really like the black X as the difference.  Can you add it to the legend?  That might help to make it clear.

[2020-06-08 20:26] jkosie commented on #6
Sure - I updated the code to include the X and edited the figure caption. I wasn't sure if we should remove the mention of inverse variance or add an explanation. It's still there for now.

[2020-06-08 23:55] angelinetsui commented on #11
I will close this issue now, as I have pushed the changes to the OSF file in the public repo

[2020-06-08 23:55] #11 closed, assigned to angelinetsui

[2020-06-08 23:59] angelinetsui commented on #2
Just got a reply from a statistician. Essentially, when there is a large sample (big N) and big differences in sample sizes between groups, levene's test will always be significant.......so we need to look into the residual variance difference (which we did) and if there is such a small difference, we do not need to worry at all. I think that we can very well justify this point in the paper

[2020-06-09 06:14] christinabergmann commented on #6
I think the figure looks great, thanks Jessica! Re: Inverse variance, phew, I don't know how else to frame it either. It's like asking to use a different word for median, imo. Maybe "points are scaled by precision, as indicated by the inverse of their variance"?

[2020-06-09 10:54] christinabergmann commented on #7
I can try to work on this next week - if anyone ants to tackle it earlier or there's a deadline, just let me know.

[2020-06-09 23:13] kristabh commented on #7
That would be perfect if you can work on this next week- thanks!!

[2020-06-10 13:37] kristabh commented on #6
Perfect.  I've added a similar wording to the text to explain inverse variance.  I think this issue can be closed.

[2020-06-10 13:37] #6 closed, assigned to jkosie

[2020-06-10 13:41] kristabh commented on #2
Okay, this is what I thought. Please go ahead and add the statistics and the justification to the paper.  Let's work in the Google Doc for transparency (using placeholders for the actual numbers if necessary), and then we can add to the RmD.

[2020-06-10 15:18] angelinetsui commented on #2
will do.

[2020-06-10 15:18] #2 closed, assigned to angelinetsui

[2020-06-16 01:54] jkosie commented on #8
Done!

[2020-06-16 01:54] #8 closed, assigned to nobody

[2020-06-22 18:45] christinabergmann commented on #7
Sorry for the delay. This comment has two parts. First, the reviewer is wondering whether all exclusion criteria were listed in the Stage 1 manuscript, if I understand correctly.
Looking back at the Stage 1 Manuscript, we listed the following criteria, where I am inserting numbers for clarity.

Data from participants who
1. were not full term (less than 37 weeks gestation: N = XX),
2. had a report

[2020-06-22 19:10] kristabh commented on #7
Hi, thanks for looking into this.  I think it's probably easier just to exclude in the order that we had in the manuscript.  I agree that this isn't really an unusual exclusion rate for baby studies, but I get the sense that that reviewers are more experts on registered reports than infants, because this is what most questions were about (I could be wrong- they could be experts in both).  So perha

[2020-06-22 20:53] kristabh commented on #7
For the Ns, sounds perfect if you just see how it looks- I might prefer in Table if possible.

[2020-06-29 19:29] angelinetsui commented on #9
Tagging @jkosie here as Jessica kindly offers helping me to include model fit index in the mixed-effect models. Thanks again, Jessica

[2020-06-30 01:00] angelinetsui commented on #10
Hi Krista, I checked the multicollinearity assumption for each lme4 model. The first three models did not violate this assumption as no IV has VIF > 10. However, the two SES models violated this assumption and it looked like that we might need to remove a number of variables (e.g., trial_type, age and SES*trial_type).......I didn't push yet because I am still waiting for a statistician's advice fo

[2020-06-30 13:32] kristabh commented on #10
I don't think it's reasonable to remove trial_type or SES*trial_type in our model because this pertains to our main research question. So we either need to keep as-is, remove something else, or omit the SES models entirely.

For zero-order correlations, I think it's reasonable to just report the correlations between the main effects, and not the interactions - perhaps one table for the lab-matched

[2020-06-30 16:07] angelinetsui commented on #10
I will try removing something else and see if this will solve the multicollinearity issue. And I agree that SES*trial_type is a key question.

For zero-order correlation table, I can do it for main effects.

[2020-07-01 23:48] angelinetsui commented on #1
Re-ran all the meta-analyses using n>=5 criteria. All results are the same, the effect sizes are very similar, I wonder if we can refer readers to the GitHub codes later. I really do not think that it is worthwhile to put everything in the supplemental materials, as it makes the paper unnecessarily long

[2020-07-02 14:43] christinabergmann commented on #7
OK, I've done the first part but since papaja still doesn't work, @angelinetsui - feel free to check. I can't test how Ns in tables look like, but I can still edit them into the captions, if you'd like.

[2020-07-02 14:52] angelinetsui commented on #7
@christinabergmann , thanks Christina. May I ask if you have pushed?

[2020-07-02 17:38] christinabergmann commented on #7
Check exclusions.Rmd and the mention in this issue

angelinetsui <notifications@github.com> schrieb am Do., 2. Juli 2020, 16:52:

[2020-07-02 19:34] angelinetsui commented on #7
checked, it knitted well on my side.

[2020-07-02 20:25] angelinetsui commented on #10
Hi Krista, we still have the problem of multicollinearity for SES model.

For the SES matched dataset, the following variables have very high VIF (multicollinearity index):

- trial_type
- age_mo_c
- trial_type:age_mo_c
- trial_type:SES
- age_mo_c:SES
- trial_type:age_mo_c:SES

For the SES unmatched dataset, the following variables have very high VIF (multicollinearity index):

- age_mo_c
- trial_

[2020-07-03 12:23] kristabh commented on #10
I would start by removing the three-way interaction trial_type:age_mo_c:SES, and if that does not help, then removing age_mo_c:SES as well.  I don't think either of these are particularly interesting to us.

[2020-07-03 14:24] #4 closed, assigned to jkosie

[2020-07-03 18:31] angelinetsui commented on #10
Thanks Krista, you are right, we really need to remove the three-way interaction trial_type:age_mo_c:SES in both SES models to remove the "multicollinearity issues". Currently, I cannot enter "trial_type:SES" into the SES-lab-matched dataset, but I can enter this two-way interaction into the SES-full_dataset. In sum, SES has no effect on the IDS.

We will need to change our discussion a bit by rem

[2020-07-04 12:00] kristabh commented on #10
Just to clarify, when you say you cannot enter "trial_type:SES" do you mean because of multicollinearity or because the model does not converge or some other reason?

I agree that we will def. need to remove the three-way interaction, and change the discussion as necessary.

[2020-07-04 17:38] angelinetsui commented on #10
Hi Krista, thank you for your question. In this issue, we do not have the problem of centering. And I also don't find how different centering will reduce the problem of multicollinearity.

Based on the model now, we have a problem of multicollinearity. The model has converged but we are not statistically justified to simply report that because we violate multicollinearity. Sorry that I missed this

[2020-07-06 13:33] kristabh commented on #10
Okay, please go ahead and do that (i.e., remove those problematic interactions), and update the text in the manuscript...

[2020-07-07 14:27] jkosie commented on #9
done!

The way I did it is a little hacky, but I think it looks okay. I've attached a screen shot, but please let me know if you'd like me to change anything.

![Screen Shot 2020-07-07 at 10 23 28 AM](https://user-images.githubusercontent.com/7671648/86796266-69927c80-c03c-11ea-89b6-8f485533ad67.png)

[2020-07-07 14:33] kristabh commented on #9
Yeah, this looks okay.  Can you include n in the table as well?  Or did we end up putting that elsewhere...?

[2020-07-07 15:39] jkosie commented on #9
To get the ns, I looked at the number of unique subids in the 'd_lmer_matched' and 'd_lmer_unmatched' data files (that are used to calculate the LMMs). I used this code: `length(unique(d_lmer_matched$subid)`

I came up with 717 unique 'matched' subids and 1754 unique 'unmatched' subids that are contributing to the model. These numbers seem too large to me. Before I look into it further or add them

[2020-07-07 16:06] angelinetsui commented on #9
@jkosie , thanks so much, Jessica.

For the number of samples, it looks correct as we are using all data in mixed models.

For the table, will it be possible to change R2_square to R(2) where 2 is a superscript. Also, will it be possible to center the number of the R2_square?

Thanks again!

[2020-07-07 16:19] jkosie commented on #9
Thanks, @angelinetsui

I'll try those edits.

Just to quickly double check about the number of participants. The "final sample" section of the manuscript says:

For the "matched" sample, there were 333 infants from the bilingual sample who met exclusion criteria, and 385 monolingual infants from the same labs who met inclusion criteria. This would be 718 infants, so I think we might be losing one

[2020-07-07 16:43] angelinetsui commented on #9
Hi Jessica, this is interesting, I wonder if it is because we log-transform the looking time, we may lose additional data. For example, we did filter(!is.na(log_lt), !is.infinite(log_lt)) before running any analyses

[2020-07-07 16:46] jkosie commented on #9
That's a good suggestion. I'll check and see if we're losing babies there.

[2020-07-07 16:50] angelinetsui commented on #9
Yes, I think so, I double checked. For example, d_lmer_matched and we lost one infant right after we execute filter(!is.na(log_lt), !is.infinite(log_lt)). The same happens for d_lmer_unmatched.

Good catch, Jessica. We need to clarify this point in the manuscript!! :-)

[2020-07-08 14:45] jkosie commented on #9
Okay, I centered the numbers and added the Ns to the tables (as well as tables 4, 5, 6, and 7).

I've tried a number of things to get superscripts in the row names, but I haven't had success. Does anyone else know how to do this?

[2020-07-08 14:46] jkosie commented on #7
I mentioned this in another issue, but wanted to update that I've added Ns to tables 2 through 7 (in a separate row at the bottom). See below for an example of what it looks like.

![Screen Shot 2020-07-08 at 10 40 42 AM](https://user-images.githubusercontent.com/7671648/86933179-446b4000-c108-11ea-9c5a-76a03cf16600.png)

[2020-07-08 16:25] kristabh commented on #7
Great, looks like this issue can be closed?

[2020-07-08 16:26] kristabh commented on #9
We'll just have to fix this at the stage of proofs I think... not sure how to get the superscripts we want here.

[2020-07-08 16:28] jkosie commented on #9
Sounds good. I think this can be closed, too, but maybe we want to make another issue about the fact that a number of infants are getting removed when the data are log transformed?

[2020-07-08 16:29] jkosie commented on #7
I think so. I'll go ahead and close it.

Let me know if you'd like me to edit the table format at all.

[2020-07-08 16:29] #7 closed, assigned to nobody

[2020-07-08 16:31] angelinetsui commented on #9
Hello Jessica, thanks for your work. I don't know how to fix the superscript too....may be we can write out "R square" instead, any thoughts @kristabh ?

Btw, Jessica, may I ask why we need to open another issue for the number of infants getting removed from the analyses when LT is log-transformed? We can clarify it in the manuscript and we found the reason why they are removed

[2020-07-08 16:33] jkosie commented on #9
I was just thinking to track the issue and make sure it gets clarified in the manuscript (i.e., we can close it once it's finished). Probably fine not to start an issue, though, and just change it in the manuscript.

[2020-07-08 16:35] angelinetsui commented on #9
Thanks for sharing your thoughts, Jessica. Let us leave this issue open until we clarified this point in the manuscript, shall we?

To all, sorry for the slow response to the manuscript, have been attending vICIS this week...can't really work much

[2020-07-10 21:02] angelinetsui commented on #10
I am working on the zero-order correlation table here. Got a bit of problem here as most of our variables in the lmer models are categorical (except for two variables: age and trial_num). We literally cannot compute a zero-order correlation (i.e. zero-order correlation implies "Pearson correlation" not spearman rank correlation) table here......What should we do?

[2020-07-10 21:15] kristabh commented on #10
If you compute Pearson's R between binary and continuous, won't you get a point-biserial correlation? And for two categorical, won't you get phi?  I think these details of interpretation will be in the figure legend.

http://web.pdx.edu/~newsomj/pa551/lectur15.htm

[2020-07-10 21:22] angelinetsui commented on #10
I can't compute a Pearson correlation between categorical variables in R (but if I am wrong, please correct me. Well, just realized that we can force it by changing the variable to dummy-coded, I guess, but I am worried about interpretation). I wonder if we need to compute correlation using different metrics here. For two continuous variables, use Pearson. For one continuous variable and one dicho

[2020-07-11 21:18] angelinetsui commented on #10
Hi Krista, after pondering this issue, I need to seek your advice what to report in the table. In our mixed-effect models, our DV is always log-transformed looking time. So if we want to report the main effects only, perhaps we can report only the correlations between DV and all the main effects (e.g., age, trial_type, lang_group, trial_num and etc) in the model. As the DV is always continuous, we

[2020-07-11 21:18] angelinetsui commented on #1
I will close this issue as I have updated the codes on Github.

[2020-07-11 21:18] #1 closed, assigned to angelinetsui

[2020-07-13 01:52] kristabh commented on #10
Okay, re-reading the reviewer's comment, I don't think it's necessary to provide these correlation tables - they wanted to know whether we had issues with multicolinearity.  I think we can deal with this comment simply by mentioning how you looked at VIF.  I tagged you in a comment in the manuscript.  I will close this issue.

[2020-07-13 01:52] #10 closed, assigned to angelinetsui

[2020-07-15 04:57] christinabergmann opened #22 "Check preprocessing / exclusion of monolinguals"
Are the data from the monolinguals properly preprocessed (i.e. the same way as in MB1, with exclusions of looking times shorter than 2s etc)?

[2020-07-15 05:17] christinabergmann commented on #22
There are 4080 NA entries in the monolingual data from MB1.

[2020-07-15 10:07] christinabergmann commented on #22
@angelinetsui @kristabh So after some digging the file `03_data_trial_main.csv` being read in is *not* the latest or previous version, but must be some much earlier version.
This is the link to the raw datafile as it is shared now: https://raw.githubusercontent.com/manybabies/mb1-analysis-public/master/processed_data/03_data_trial_main.csv (will always link to the latest version)

For comparison,

[2020-07-15 12:42] kristabh commented on #22
Thank you for your digging into this- this issue is important.  I don't remember the specific chronology of this particular ManyBabies file, but in any case I agree that it will be best to use the most recent version, and to archive this version on the MB1B repo. It you could work on this @christinabergmann , that would be amazing!

[2020-07-15 16:54] angelinetsui commented on #22
Thanks so much for your help, @christinabergmann , totally agree with you with the use of current version. Thanks again for your work here :-)

[2020-07-17 11:16] christinabergmann commented on #22
OK, quick update: I am on it but struggle to verify that the monolingual data are correct by replicating the stats from the paper. Holding off on a PR until this is sorted.

[2020-07-19 17:00] kristabh commented on #22
Okay, thanks Christina!  I think once this is sorted we will be on the home stretch!

[2020-07-21 12:59] christinabergmann commented on #22
OK, I fixed the bit about the reading in of the correct datafile (my validation didn't take into account the age subsetting). NA looking times however occur both in the bilingual as well as the monolingual dataset, so it needs to be fixed programmatically elsewhere.
In MB1, this is how it's handled:

`d_lmer <- d %>%
  filter(trial_type != "train") %>%
  mutate(log_lt = log(looking_time),

[2020-07-23 17:15] kristabh commented on #22
I think we will need to integrate this into the exclusions script for the bilinguals, and just make sure that the correct n's for monolinguals are represented elsewhere (since we are not reporting those exclusions).  @angelinetsui is this something you can tackle?

[2020-07-23 18:12] angelinetsui commented on #22
Sorry for the late reply. To all, I don't think the problem has solved. I did pull the new changes Christina made, but the same problem exists. In the lmer model, all the additional excluded infants with NA looking time were still monolinguals. This is bizarre, because monolingual infants who did not contribute at least 2 trials should be excluded before entering the data frame for lmer data analy

[2020-07-23 18:15] jkosie commented on #22
I can take a peek at this too if it would be helpful (though happy not to if it would be too many people working on the same issue). I had mentioned previously that I thought the number of monolingual infants for Baby Lab Princeton looked weird, and maybe it's related to this issue.

[2020-07-23 19:06] angelinetsui commented on #22
@jkosie @christinabergmann , it will be great if either of you can look into this issue further. I have included my codes (checking which lab has infants who contributed NA looking time and were removed from the lmer codes (!is.na(log_lt)). I don't see any infants from Baby Lab Princeton in this subgroup, but please correct me if I am wrong. Thanks very much for your help!!

[2020-07-24 08:42] christinabergmann commented on #22
OK, I've proposed two changes, one in the exclusions script for bilinguals when also removing short LT, this seemed the appropriate place, and in the merge with monolinguals script when reading in the monolingual data.

Good catch, everyone, I think now the numbers should be correct (I am traveling, so please triple check my added lines)

[2020-07-24 16:47] angelinetsui commented on #22
all good now, thanks @christinabergmann .  For removing short LT, we actually had a code chunk in the 03_exclusion.Rmd from line 37 to 44

d$short_lt <- d$looking_time < 2

short_lt <- exclude_by(d, quo(short_lt), action = "NA out",
                   return_pcts = TRUE,
                   quiet = TRUE)
d <- short_lt$data

So I think we are good

[2020-07-24 16:47] #22 closed, assigned to nobody

[2020-07-24 16:49] angelinetsui commented on #9
@jkosie , we solved the problem for NA looking time for the monolinguals, so are we good now, can we close this issue? I want to confirm with you all before I edit the Paper.Rmd

[2020-07-24 17:28] jkosie commented on #9
Seems good to me! I'll close :)

[2020-07-24 17:28] #9 closed, assigned to jkosie, angelinetsui

[2020-07-27 00:25] angelinetsui opened #28 "Lmer model for full dataset suddenly not converge after codes changes for monolingual infants"
@kristabh , I am working on the paper.Rmd. I use the pruned "RR stage 2" codes to re-run the analyses, and suddenly the LMM model 1 (full dataset) did not converge anymore after we changed codes for NA looking time for monolinguals. What should we do? I think we will need to prune the model further and justify it in the manuscript :-(

[2020-07-27 03:04] angelinetsui commented on #28
Super sorry, I found out the reason why the model failed to converge on my side. I accidentally upgraded lme4 from version 21 to 23 recently because I need to do it for another project. I m looking into how to revert back to the version 21 and re-run the analyses.

[2020-07-27 03:04] #28 closed, assigned to nobody

[2020-07-27 13:01] christinabergmann commented on #22
Good.
I was actually wondering about that chunk, it's duplicate with exclusions.Rmd, isn't it?

[2020-07-27 16:07] angelinetsui commented on #22
For NA looking time codes, it is not duplicated, but if we have codes for removing LT > 2, yes

[2020-07-28 13:19] kristabh commented on #9
@jkosie would you be able to open the R-squared to the models for SES and NAE, as you did for the main models?  The timeline is tight, as we're trying to finalize the manuscript this week.

[2020-07-28 17:17] jkosie commented on #9
Done!

I just submit a pull request. The only problem that came up was that the tables became too large to fit on the page (and were cut off at the bottom). I fixed this by changing the spacing of the tables (added code to the YAML at the top). The tables are more tightly spaced now, but they fit on the page.

Here's the code I added at the top of the Rmd file.  I think the values I chose work, bu

[2020-07-29 01:12] kristabh commented on #3
@jkosie sorry to re-open this issue, but can you add overall SES descriptives to the manuscript?  I've drafted some skeleton text on lines 1119 with placeholders.

[2020-07-29 15:42] jkosie commented on #3
added!

[2020-07-29 15:42] #3 closed, assigned to jkosie

[2020-07-29 19:44] kristabh opened #33 "Coefficients not printing properly from lines 1090, 1342"
None of these values is printing properly:

Line 1090: The main effect of infants' exposure to NAE (exp_nae) was not significant ($\beta$ = `r signif(nae_exp_coef["EXP_NAE", "Estimate"], 2)`, $SE = `r signif(nae_exp_coef["EXP_NAE", "SE"], 2)`$, $p = `r signif(nae_exp_coef["EXP_NAE","p"], 2)`)$.

Line 1090: However, the interaction between trial type and exp_nae was significant ($\beta$ = `r signif

[2020-07-29 20:27] jkosie commented on #33
I'll try to fix it. I think when I add the blank spaces to the bottom of the table (to center the r2 measures), it turns the columns into characters rather than numbers and then things get messed up.

[2020-07-29 20:46] jkosie commented on #33
I have to stop for today, but I've fixed part of it and submitted a pull request. They are now actual values and not NAs. However, the values are automatically rounded to 2 decimal places no matter what I tell it to round to (I think because of the stats annotation...with the $s). So, some of the values are reported as 0. I can take another look tomorrow unless someone else knows how to quickly fi

[2020-07-29 20:47] angelinetsui commented on #28
Krista found that we can use the following codes to solve the "lme4 version" problem:

changed default optimizer to "nloptwrap" (BOBYQA implementation from the nloptr package) for lmer models. To revert to the old default, use control=lmerControl(optimizer="bobyqa")

[2020-07-30 12:49] kristabh commented on #33
It would be great if you can take another look today... thx!

[2020-07-30 20:13] jkosie commented on #33
I just spent quite a bit of time on it, but I still can't get the numbers to round correctly when values are small. Even when I ask it to round a number to 3 decimal places (using either `round` or `signif`), I'm still getting just 0.00. For example, 0.001128 keeps being reported as 0.00 even if I specify 3 decimal places (with the intention of rounding to 0.001).

I haven't been able to find anyt

[2020-07-30 20:40] kristabh commented on #33
I tried with format() including the digits argument, and that seems to work.  Clue from this post https://stackoverflow.com/questions/3245862/format-numbers-to-significant-figures-nicely-in-r

[2020-07-30 20:41] #33 closed, assigned to nobody

[2020-07-30 21:44] jkosie commented on #33
Weird - I tried format at one point too. At least it works now! :)

[2020-07-30 23:35] kristabh commented on #33
Yeah, I have no idea why signif was not working...  It worked in the console, but not when knitted.  Agreed, at least the problem is solved :-)

[2020-08-10 17:36] kristabh opened #37 "Replace labids in Table 1 and Figure 1"
From the editor: "For Table 1 and Figure 1, please replace the lab nicknames either with the university/ institution name or with the PI name (I' prefer institution). Readers won't know what "babylabbrookes" means, for example. Using institution names will make it easier for readers to associate authors with the data they contributed (more transparent and easier to parse). "

Let's go with the ins

[2020-08-10 18:02] jkosie commented on #37
I can do this quickly today.

[2020-08-10 18:12] jkosie commented on #37
One issue I just came across. There are two labs from UBC - how should I handle this?

[2020-08-10 18:16] kristabh commented on #37
I'd suggest University of British Columbia (Werker) & University of British Columbia (Hamlin) to denote the PIs.

[2020-08-24 18:02] christinabergmann commented on #37
This seems fine now?

[2020-08-24 18:03] christinabergmann opened #40 "Adjust panel height for bottom panel in Figure 1"
https://github.com/manybabies/mb1b-analysis-public/blob/master/paper/mb1b-paper.Rmd line 725f

Figure 1 has a too narrow bottom panel so that the Meta-Analytic Estimate is difficult to read

[2020-08-25 13:37] #37 closed, assigned to nobody

[2020-08-25 14:10] #40 closed, assigned to nobody

[2020-08-31 14:00] kristabh opened #43 "Reference list appears twice"
For some reason, the entire reference list repeats when the paper is knit.  Any idea how to fix this @angelinetsui @christinabergmann @jkosie ?  I'm stumped.

[2020-08-31 14:09] jkosie commented on #43
Have you tried updating rmarkdown? I just knit it on my end and it didn't duplicate the references. I did have this problem before, though, and I think updating rmarkdown fixed it.

[2020-08-31 14:16] kristabh commented on #43
Great suggestion!  I updated tinytex and papaja and that did it!  Thanks!

[2020-08-31 14:16] #43 closed, assigned to nobody

[2020-08-31 18:01] kristabh opened #44 "Tables in appendix don't render properly when knitting to .docx"
The tables look fine when knitting to .pdf, but we need to also knit to .docx for typesetting. @jkosie would you be able to figure this one out?

[2020-08-31 18:18] kristabh commented on #44
Oops, opened this issue in the wrong repo.  Sorry!  This is an mb1b issue, here: https://github.com/manybabies/mb1b-analysis-public/issues/44

Closing this one.

[2020-08-31 18:22] kristabh commented on #44
Accidentally had originally opened this issue in the mb1 repo - deleted there now.  @kachergis mentions:

"I've run into this recently and the solution* is to use papaja::apa_table
to output the tables.
https://www.rdocumentation.org/packages/papaja/versions/0.1.0.9997/topics/apa_table"

[2020-08-31 19:42] jkosie commented on #44
I'm working on it. Just changing to papaja::apa_table doesn't seem to work.

[2020-08-31 21:57] jkosie commented on #44
I'm reopening this issue - I've been working on this for a couple of hours and I still can't get it to work.

[2020-09-01 11:51] kristabh commented on #44
I also spent quite a while on this yesterday with no luck.  Maybe for now we could find a temporary solution that would allow us to just copy-paste decently formatted tables into the Word version so I can submit. The Word version is only for the typesetting. Everything knits fine for .pdf.

[2020-09-01 17:02] jkosie commented on #44
I think I can knit the appendix by itself and it looks okay. I'll try to just do that and paste things together this afternoon.

[2020-09-01 18:39] kristabh commented on #44
Thanks so much for your help with this @jkosie !

[2020-09-01 20:40] jkosie commented on #44
Here's an edited version of the Appendix.

When I knit the rest of the paper to word, Table 1 (the landscape table) disappears and two other tables are formatted strangely. Does this happen for you? I thought I'd check before I keep playing around with it.

[mb1b_appendix.docx](https://github.com/manybabies/mb1b-analysis-public/files/5158734/mb1b_appendix.docx)

[2020-09-02 12:07] kristabh commented on #44
Yes, that same thing happens to me.  I had not noticed it yet- was so focused on the Appendix. Thanks for continuing to work on this issue!  If the solution is to get these tables working manually so we can submit the .doc file, then I guess so be it...

[2020-09-02 17:42] jkosie commented on #44
Just a note that I'm working on this. Hopefully will be finished soon. There are a lot of weird issues - for example, tables that use the exact same code, like for the matched and unmatched samples, print completely differently in the word doc.

[2020-09-02 20:04] jkosie commented on #44
Okay, here's a word version of the paper, including the appendix.

I've edited the tables that were formatted strangely. The placement of the tables also changed a little from the pdf version, but I tried to copy/paste them into places that make sense. Table 1 is not landscape version in the word doc, but I reduced the font a little and I think it looks okay.

One other weird thing is that the num

[2020-09-03 12:23] kristabh commented on #44
Thanks so much.  Will get this double checked and then hopefully submit. What a headache! Closing this issue for now.

[2020-09-03 12:23] #44 closed, assigned to nobody

[2020-09-04 14:37] kristabh opened #45 "Problem with Exclusions.RmD"
In checking the .doc against the .pdf versions, @hilary-rose noticed that knitting in these two ways gives different numbers of infants excluded for each reason.  I suspect that this somehow has something to do with the order in which the code is executed when knitting to the different formats, which gives some differences because some infants have multiple reasons for being excluded. I'm okay wit

[2020-09-05 15:20] christinabergmann commented on #45
Urgh, that sounds annoying and I can't think of an obvious reason this is happening. I can't dedicate time to proper digging through everything before the 15th, so if someone else has a moment earlier, that'd be great. Otherwise just ping me again.

[2020-09-05 17:30] kristabh commented on #45
Thanks for your responses - it is a busy time for us all.  @hilary-rose is working on it right now, and seems to be making some progress!

[2020-09-06 23:04] jkosie commented on #45
I think I can take some time later in the week if it hasn't been figured out by then!

[2020-09-10 15:29] kristabh commented on #45
Seems there was an issue with the text not reporting all of the exclusions the code was implementing, as well as an issue where NAs that should have been recoded as "FALSE" were not, and so that was not being counted. Thanks to @hilary-rose for figuring things out!  I have now fixed the issues and pushed the updated code, so I'll close this issue.

[2020-09-10 15:29] #45 closed, assigned to nobody

[2021-02-01 15:32] kristabh opened #46 "Clarification - missing trials in meta-analysis"
I'm trying to understand why the number of missing trials reported is not twice the number of missing trial pairs here.  Does this section need to be re-written?

"To estimate an effect size for each data set, we first computed individual infants’ preference for IDS over ADS by (a) subtracting looking time to the ADS stimulus from looking time to the IDS stimulus within each yoked trial pair and (

[2021-02-01 20:07] kristabh opened #47 "Export Figure 1 with short lab names instead of full names"

[2021-02-01 20:20] kristabh opened #48 "Confirm number of lab-matched monolinguals"
There are inconsistencies in the manuscript:
Abstract says 385 (but that's hard coded)
Text says 384
Table A1 totals to 383

[2021-02-01 20:53] kristabh opened #49 "Todo: Check model equations in proof documents"
- Make sure they are accurate (not changed in the proof)
- Make sure variable names match MB1
- Make sure variable names are consistent throughout paper

[2021-02-01 21:53] kristabh commented on #49
MB1 paper variable names, for reference:

log looking time ~ trial type * method + trial type
* trial number + age * trial number + trial type
* age * language + (trial type * trial number|participant) + (trial type * age|lab)
+ (method + age * language|item)

Just checking that we are okay with matching what they used.

[2021-02-02 21:53] kristabh opened #50 "LMEM tables"
In the manuscript, LMEM tables don't always print out to three significant digits.  Is it just because of trailing zeros?  Looking at the output tables before they are printed by apa_table, it doesn't seem like it should always round this way.

[2021-02-03 15:13] kristabh commented on #49
Checked.  We can double check when we see the proofs :-)

[2021-02-03 15:13] #49 closed, assigned to nobody

[2021-02-03 19:21] angelinetsui commented on #46
Our R script for calculating the missing pair trials (matched dataset) are as follow:

percent_pairs_missing_matched <- round(((sum(is.na(d_diffs_matched$diff))/length(d_diffs_matched$diff))*100), 2)

percent_trials_missing_matched <- round(((sum(is.na(d_diffs_matched$IDS), is.na(d_diffs_matched$ADS))/(2*length(d_diffs_matched$diff)))*100), 2)

For pairs that only have 1 trial missing, this will c

[2021-02-03 19:50] angelinetsui commented on #48
I checked the codes in paper.Rmd. I think it should be 384, and now I also checked the codes in Appendix A1, and I think Jessica and I called the exact same files and I can't figure out why there is one number missing in A1. I need help

[2021-02-03 19:54] kristabh commented on #46
Yes, this is exactly the question and what I need you to figure out.  I will tag @jkosie in case she may be able to help.

[2021-02-03 19:55] kristabh commented on #48
Yes, it would be good to find out what happened to that baby so we can be sure that the number is 384.  Tagging @jkosie

[2021-02-04 15:48] jkosie commented on #48
I'm working on this now. I can see that the numbers in table A1 total to 383. However, I only see 385 in the abstract and text. I don't see anywhere that it says 384. Could you point me to the place you see that number?

[2021-02-04 15:59] jkosie commented on #48
Strange...I just figured out that when I knit the document it says 385, but when I look at the code in the mb1b-paper.Rmd file it says 384.

I think I did figure out the issue from table A1, though (if 384 is the correct number of lab-matched monolinguals). There is one infant who has NA for their gender, so they're getting dropped out of the table.

[2021-02-04 17:38] angelinetsui commented on #48
I have the same issues. When I knitted the file, it changed to 384 even the code generated 384......and yes, for the table A1, I think the missing infant is due to "0"/NA gender

[2021-02-04 17:39] jkosie commented on #46
I just tried to work this out for the lab-matched dataset. Sorry if this seems pedantic, I'm just trying to work it all out in my head!

There are 1030 trial pairs missing. Out of 2983 possible pairs, this is 34.53% of pairs that are missing.

If _both_ trials were missing in each of those pairs, there would be 2060 trials missing. Because there are 2983 pairs, there are 5966 trials. 2060 would be

[2021-02-04 17:55] jkosie commented on #50
I've figured this out, but I need to play around a little more to get the right fix.

This is happening because the numbers in the table are characters and not numbers, so they're not rounding. I tried a quick fix of just changing the values using `as.numeric()` That works for the rounding issue (they all go to 3 digits), but then the p-values sometimes become 0.00, which I don't think we want. I'

[2021-02-04 18:00] kristabh commented on #50
I need to update everything manually in a word document anyway (cut and paste - the copy editor has already been through), so don't worry about the p-values.  Do you just want to send me the correctly rounded table?

[2021-02-04 18:05] jkosie commented on #48
I think this might be similar to issue #45

When I knit to a docx file, the number is 384. So, I think it might be something about when exclusions are running. I'll keep trying to figure it out.

[2021-02-04 18:57] angelinetsui commented on #46
Thanks very much, Jessica! What you said make senses.

[2021-02-04 21:21] jkosie commented on #50
The numbers is the table are different when I knit to word versus knit to pdf. I know we had this issue before (issue #45). Is there one we decided was the correct version to stick with?

[2021-02-08 13:28] kristabh commented on #48
Okay, confirm that 384 is the correct number of lab-matched monolinguals. In the manuscript I've added a note to the appendix Table A1 "Data on gender was missing for one additional infant from babylabbrookes"

[2021-02-08 13:28] #48 closed, assigned to nobody

[2021-02-08 13:56] kristabh commented on #46
Got it.  I think the previous wording was confusing.  I re-wrote as:

"A total of 20.58% of trials in the lab-matched data set and 13.78% of trials in the full data set were missing. Trial pairs that that had either one or both trials missing were excluded from the analysis, which constituted 34.53% of pairs in the lab-matched data set and 25.41% of pairs in the full data set."

[2021-02-08 13:56] #46 closed, assigned to angelinetsui

[2021-02-08 13:59] kristabh commented on #50
Thanks for fixing this Jess.  Just as a note we used rounded versions from the .pdf in the final manuscript.

[2021-02-08 13:59] #50 closed, assigned to nobody

[2021-02-08 14:06] kristabh commented on #47
Looks good, tx.

[2021-02-08 14:06] #47 closed, assigned to angelinetsui